body {

  background-color: #fdf1d3;
  padding: 0;
  margin: 0;
  height: 100vh;
  


}

.meni {

  position: fixed;
  top: 0;
  width: 100%;
  background-color: wheat;

}

.sadrzaj {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
 


}
#osnovno img{
  padding: 0;
  margin: 0;
 
}
.opis{
  margin-top: 50px;
}

#detalji {
  margin-top: 50px;
  margin-bottom: 50px;
}


.desna-kolona {
  float: right;
  margin-right: 150px;

}
.lijeva-kolona{
  float: left;
}
.opis{
  float: left;
}



.sadrzaj img {

 width: 100%;
 height: 420px;
 margin: 2%;
  

}




#upiti ul {
  grid-template-rows: auto;
  display: grid;
  padding: 0;
  width: 100%;
  float: left;

}

#upiti h2{
  float: left;
}
#upiti li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;


}