body {

    background-color: #fdf1d3;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    height: 100vh;
  
  }
  
  .meni {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: wheat;
  
  }
  
   h2{
    
    margin-left: 35px;
  }
  .slika-stana, .slika-kuce{
    text-align: center;
    width: 100%;
  height: 200px; 
  object-fit: cover; 
    
    
   
  }
  .grid-container-stanovi, .grid-container-kuce{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 30px; 
    justify-content: space-between;
    grid-gap: 20px;
  }
  .stanovi, .kuce{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
  }
  .detalji{
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: white;

  }
  .lijeve-informacije{
    margin-top: 30px;
    text-align: left;
    font-weight: 5000;
  }
  .desne-informacije{
    text-align: right;
    
    font-weight: 5000;
  }

  

  
  

 
  
  
  