body {

  background-color: #fdf1d3;
  margin: 0;
  width: 100%;

}

.meni {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: wheat;

}
.sadrzaj{

  
 width: 100%;
 margin-top: 60px;
  margin-left: 30px;
  margin-right: 0;
  align-items: center;
  
  
}

 .sadrzaj h3 {

  margin-top: 60px;


}

img {
  text-align: center;
  width: 100%;
  height: 200px;
}

 .lista {
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);

  gap: 20px;

  text-align: center;
  
  

 
}



#stan .clan {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
 

  
}

#kuca .clan {
  background-color: powderblue;
  border: 1px solid black;
  padding: 20px;
  
}

#pp .clan {
  background-color: green;
  border: 1px solid black;
  padding: 20px;
  
}

.detalji {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: black;
  text-align: center;
  color: white;

}

.lijeve-informacije {

  text-align: left;
  font-weight: 500;

}

.desne-informacije {
  text-align: right;

}