img{
    width: 8%;
  height: 100px;
  margin-top: 50px;
  padding: 10px;
  margin-left: 10px;
  
}

body {
    
    background-color: #fdf1d3;
    padding: 30px;
    overflow-y: scroll; 
    height: 100vh;
    

}
.meni{
  position: fixed;
  top: 0;
  width: 100%;

}



.sadrzaj {
  padding-top: 30px; 
  
  
}