body {

    background-color: #fdf1d3;

}

.container {

    text-align: center;
}

li {
    display: inline;
    margin: 0 10px;

}



.primary-nav li a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: blue;

   

}

ul li a:hover {
    color: #ff9900;
}
