body {

  background-color: #fdf1d3;
  padding: 0;
  margin: 0;
  height: 100vh;


}

.meni {

  position: fixed;
 
  top: 0;
  width: 100%;
  background-color: wheat;
  
  align-items: center;
  justify-content: center;

}
.filterForm {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  
  & > input {
    flex: 1 1 10ch;
    margin: .5rem;
    
    &[type="text"] {
      flex: 3 1 30ch;
    }
  }
}

.filterForm input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  
  &[type="submit"] {
    background: hotpink;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
  }
}

.primary-nav li {

  height: 30px;
  margin: 0 5px;
  margin-top: 10px;
  white-space: nowrap; 

  display: flex;
  gap: 10px;
}

.meni .primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 100%; 
}
.sadrzaj{

  
 
 margin-top: 60px;
  margin-left: 30px;
  margin-right: 30 px;
  align-items: center;
  
  
}

 .sadrzaj h2 {

  margin-top: 100px;


}

img {
  text-align: center;
  width: 100%;
  height: 200px;
}

 #stan, #kuca, #pp {
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  gap: 20px;
  
  text-align: center;
  

}

#stan .clan {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
 

  
}

#kuca .clan {
  background-color: powderblue;
  border: 1px solid black;
  padding: 20px;
  
}

#pp .clan {
  background-color: green;
  border: 1px solid black;
  padding: 20px;
  
}

.detalji {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: black;
  text-align: center;
  color: white;

}

.lijeve-informacije {

  text-align: left;
  font-weight: 500;

}

.desne-informacije {
  text-align: right;

}