body {

    background-color: #fdf1d3;
    margin: 0;

}

.container {

    text-align: center;
    top: 0;
    width: 100%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
    }

/* li , button{
    display: inline;
    top: 0;
 
   


} */


.primary-nav li {
    
    display: inline-flex;
    gap: 10px;
}



.primary-nav li a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: blue;
    padding-left: 30px;
   
    

}

ul li a:hover {
    color: #ff9900;
}
